@media all and (orientation:portrait) {
	.navbar-nav{
		float: none !important;
		text-align: center;
		background: #000;
		border-bottom: 1px solid;
	}
	.gallry-wraper {
	    margin-bottom: 1em;
	}
	.skill-wrapper1 {
	    margin-bottom: 1em;
	}
	#scroll{
	right: -15px;
	}
	
	
}
