@media all and (orientation:portrait) {
	.navbar-nav{
		float: none !important;
		text-align: center;
		background: #000;
		border-bottom: 1px solid;
	}
	.personal_detail ul{
		padding-left: 0!important;
	}
	.gallry-wraper {
	    margin-bottom: 1em;
	}
	.skill-wrapper1 .col-xs-6.col-md-3{
	margin-bottom: 2em;
	}
	#scroll{
	right: -15px;
	}

}
@media screen and (max-width: 320px) {
	.hire-form .border-center {
    height: 1px;
    width: 280px !important;
    margin: 0 auto;
    background: #0e0e0e;
}
	h2.skill-text {
    font-size: 16px !important;
}
}
